<div id="todo_edit_add">
    <div id="status"><p>{{ this.status }}</p></div>
    <section id="edit_todo">
            <h3>(Up to) Ten Things to do</h3>
        {{#each items}}
            <div hx-target="this" hx-swap="outerHTML">
                <div><label>Thing to do</label>: {{ this.note }}
                    <button hx-get="/todos/{{ this.id }}/edit" hx-trigger="click, keyup[altKey&&ctrlKey&&code=='Digit{{@index}}'] from:body" class="btn btn-primary">
                        Edit (Ctrl-Alt-{{@index}})
                    </button>
                    <button hx-delete="/todos/{{ this.id }}" hx-target="#todo_edit_add" hx-trigger="click, keyup[shiftKey&&code=='Digit{{@index}}'] from:body" hx-confirm="Please confirm you want to delete todo item {{@index}} (there is no Undo)">Delete (Shift-{{@index}})</button>
                </div>
            </div>
        {{/each}}
    </section>
<br/>
    <section id="add-item">
        <form id="add" hx-post="/todos" hx-target="#todo_edit_add">
            <fieldset>
                <legend>Add new todo item</legend>
                <label>New thing to do (Alt-Shift-N):</label>
                <input type="text" name="note" accesskey="N">
<!--                <button class="btn" hx-trigger="click, keyup[shiftKey&&AltKey&&code=='Enter'] from:body">Submit (Alt-Shift-Enter)</button>-->
                <button class="btn">Submit</button>
            </fieldset>
        </form>
    </section>
</div>